* {
    margin: 0;
    padding: 0;
    list-style: none;
}

input:focus {
    outline: none;
}

input:disabled {
    background-color: #fff;
}

.header {
    width: 240px;
    height: 100px;
    margin: 50px auto;
    text-align: center;
    line-height: 100px;
    border: 1px solid #333;
    border-radius: 100px;
}

.none {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #999;
}

.main {
    width: 560px;
    margin: 0 auto;
}

.row {
    margin-bottom: 28px;
}

.datetime {
    margin-bottom: 6px;
}

.list {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    border: 1px solid #ebeef5;
    border-radius: 5px;
    padding: 8px;
    transition: all 0.3s;
}

.list:hover {
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

.list > input:nth-child(1) {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

.list > input:nth-child(2) {
    flex: 1;
    border: 0;
    padding: 0 12px 0 6px;
    font-size: 26px;
    color: #999;
}

.list img {
    width: 20px;
    height: 20px;
}

.add {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orange;
    text-align: center;
    line-height: 100px;
    font-size: 100px;
    color: #fff;
    border: 0;
    position: fixed;
    right: 70px;
    bottom: 70px;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.popover {
    width: 300px;
    height: 108px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 15px;
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 18px;
}

.popover > .close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.popover > input {
    width: 92%;
    margin-top: 36px;
    padding: 0 5px 4px;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #333;
}
